<!--footer-->
<footer id="footer" role="contentinfo">
    <div class="wrap">
        <div class="school-footer">
            <p><strong>West Virginia &amp Regional History Center</strong><br>
                1549 University Ave. | P.O. Box 6069<br>
                Morgantown, WV 26506-6069<br>
                Phone: <a href="tel:13042933536">(304) 293-3536</a><br>
                Email: <a href="mailto:wvrhcref@mail.wvu.edu">wvrhcref@mail.wvu.edu</a><br>
                <em>&copy; 2022 <a href="https://www.wvu.edu/">West Virginia University.</a>WVU is an EEO/Affirmative Action employer — Minority/Female/Disability/Veteran. Last updated on July
                26, 2021.</em></p>
        </div>
        <div class="wvu-footer">
            <ul class="wvuFooterSites" role="navigation">
                <li><a href="https://www.wvu.edu/SiteIndex">A-Z Site Index</a></li>
                <li><a href="https://campusmap.wvu.edu/">Campus Map</a></li>
                <li><a href="https://careers.wvu.edu/career-opportunities">WVU Careers</a></li>
                <li><a href="https://directory.wvu.edu/">WVU Directory</a></li>
            </ul>
            <ul class="wvuFooterSites" role="navigation">
                <li><a href="https://give.wvu.edu/">Give</a></li>
                <li><a href="https://careerservices.wvu.edu/students/handshake-login">Handshake</a></li>
                <li><a href="https://alert.wvu.edu/">WVU Alert</a></li>
                <li><a href="https://wvutoday.wvu.edu/">WVU Today</a></li>
                <li><a href="http://portal.wvu.edu/">WVU Portal</a></li>
            </ul>
            <div style="clear:both;"></div>
            <ul class="wvuFooterSocial">
                <li>
                    <a class="socmedia" target="_blank" href="http://www.facebook.com/WVULibraries">
                        <%= image_tag("facebook.png", alt: "Facebook", title: "Facebook") %>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
