scripts/.DS_Store
scripts/docker_images/.DS_Store
solr/.DS_Store
scripts/postgres-db-dump/.DS_Store
.DS_Store
wvu_hyrax/tmp
wvu_hyrax/tmp/*
wvu_hyrax/log
wvu_hyrax/log/*.log
postgres
postgres/*
redis
redis/*
solr/data
solr/data/*
fedora
fedora/*
wvu_hyrax/import/mfcs_data/folklife_*
wvu_hyrax/import/mfcs_data/forms
wvu_hyrax/import/mfcs_data/objects
mnt
mnt/*
