scripts/.DS_Store
scripts/docker_images/.DS_Store
solr/.DS_Store
scripts/postgres-db-dump/.DS_Store
.DS_Store
hyrax/tmp
hyrax/tmp/*
hyrax/log
hyrax/log/*.log
postgres
postgres/*
redis
redis/*
solr/data
solr/data/*
fedora
fedora/*
