<div class="viewer-wrapper">
  <iframe aria-label="pdf viewer"
    src="<%= pdfjs.full_path(file: hyrax.download_path(file_set))%>"
    allowfullscreen="true" 
    frameborder="0" 
  ></iframe>
</div>