/*********************************************************************
    480px or less
**********************************************************************/
html, body, form, nav, ul {
    display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}
.wrap {
	width: 90%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	display: block;
	height: auto;
	overflow: hidden;
}
video {
	display: block;
} 

/* For IE9 */
a img {
    border: none;    
}

/* For Chrome & Firefox */
*:focus {
    outline: 0;
}
textarea:focus, input:focus{
    outline: 0;
}
a:hover, a:active, a:focus {
	outline: 0;
}	

/* WVU Header */
.wvu-header {
	left: 0;
	width: 100%;
	overflow: hidden;
	background-color: $primary-blue;
	.wvu-masthead__logo {
		float:left;
		display:block;
		width:70.14568%;
	}
	.wvu-masthead__logo--w-signature {
	    width: 100%;
	}
	.imagedesc {
		background: url("../images/flying-wv-w-signature3.png") no-repeat center top 1.2em / 300px auto transparent;
	}
	.wvu-masthead__title--w-signature {
	    padding-top: 56px;
	    display: inline-block;
	    font-size: 16px;
	    text-transform: uppercase;
	    color: #fff;
	    padding-right: 100px;
	}
	.list { 
		height: auto; 
		width: 100%;
		overflow: hidden;
		list-style-type: none;
		a {
			display: block;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		li:nth-last-child(1) a {
			color:#ffffff;
			font-weight: 400;
		}
		.links {
			font-size: 12px;
			color: white;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			border-bottom-color: darken( $primary-blue, 10% );
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: lighten( $primary-blue, 10% );
			border-right: 1px solid lighten( $primary-blue, 10% );
			border-left: 2px solid darken( $primary-blue, 10% );
			text-decoration: none;
			padding-top: 10px;
			padding-bottom: 15px;
			width: 50%;
			display:block;
			float:left;
		}
	}
	.masthead-btn-container{
		margin: 2em 0em;
		display: inline-block;
	}
	.masthead-btn {
		border: 2px solid black;
		border-radius: 3px;
		background-color: transparent;
		color: black;
		padding: .75em;
		font-size: 1em;
		font-weight:bold;
		cursor: pointer;
		display: block;
		float: right;
		margin: 0px 3px;
		letter-spacing: 1px;
		text-transform: uppercase;
		line-height: 1;
		}
	  
	  /* gold */
	  .gold {
		border-color: #EAAA00;
		color: #EAAA00;
	  }
	  
	  .gold:hover {
		background-color: #EAAA00;
		color: #2C2A29;
		text-decoration: underline
	  }
	  
	  /* Blue */
	  .blue {
		border-color: #9BD3DD;
		color: #9BD3DD;
	  }
	  
	  .blue:hover {
		background: #9BD3DD;
		color: #2C2A29;
		text-decoration: underline
	  }
	  
	  /* Orange */
	  .orange {
		border-color: #ED8B00;
		color: #ED8B00;
	  }
	  
	  .orange:hover {
		background: #ED8B00;
		color: #2C2A29;
		text-decoration: underline
	  }
	}
	.links {
		font-size: 12px;
		color: white; 
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #004f90; 
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #0079dd; 
		text-decoration: none; 
		padding-top: 10px;
		padding-bottom: 15px;
		li {
			display: block; 
			margin: 0; 
			padding: 0;
		}
}
#wvutoggle {
	box-sizing: content-box;
	height: 40px;
	display:block;
	padding: 10px 5%;
	width: 90%;
	text-align: left;
	border-bottom:2px solid darken( $primary-blue, 10% );
	img {
		width: 90%;
		height: auto;
		max-width: 270px;
	}
	.fa {
		float: right;
		color: #fff;
		position: relative;
		top: 8px;
	}
}

/* Footer */
footer {
	background-color: $primary-blue;
	padding-bottom: 50px;
	font-size: 16px;
    p {
		font-size:  0.8em;
		line-height: 175%;
	}
	a {
		color: #fff;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
			color: #ED8B00;
			;
		}
	}
}
.school-footer {
	padding: 30px 0px 0px 0px;
	color: #fff;
	width: 100%;
	.footerTitle {
		font-size:1.5em;
		font-weight: 300;	
		display: block;
		color: #FC6;
		&:hover {
			text-decoration:none;
		}
	}

}
.wvu-footer {
	margin: 0 0px 30px 0px;
	width: 100%;
	.wvuFooterSites {
		float: inherit;
		text-align: center;
		li {
			display: inline-block;
			margin: 0px;
			padding: 0px;
			a {
				padding: 10px 0 0 0;
				margin: 0 0.5em;
				display: block;
				font-size:  0.75em;	
				border-radius: 30px;
				color: #fff;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
					color: #ED8B00;
				}
			}
		}
	}
	.wvuFooterSocial {
		margin-top:30px;
		float: inherit;
		li {
			display: inline;
			padding: 0 2px;
			.socmedia {
				opacity: 1;
				&:hover {
					text-decoration: none;
					opacity: 0.75;
				}
				img {
					width: 30px;
					height: auto;
				}
			}	
		}
	}
}

/* State */
.desktop {
	display: none;
}
.tablet {
	display: none;
}

/*********************************************************************
	768px to 1024px
**********************************************************************/
@media screen and (min-width: 768px) {
	/* Header */
	#wvutoggle {
		img {
			width:  auto;
			height: 100%;
		}
	}
	.wvu-header {
		.wvu-masthead__logo--w-signature {
		    background: url("wvulogo.png") no-repeat center top 1.2em / 300px auto transparent;
		    padding: 0px 0px 20px 0px;
		    width: 100%;
		}
		.wvu-masthead-title {
			padding-right: 0;
		}
		.wvu-masthead__title--w-signature {
    		padding-top: 65px;
		}
	}
	.wvu-header-logo {
		width: 100%;
		float: left;
	}
	.wvu-header-mobile-list {
		width: 100%;
		float: left;
		padding: 0px 0px 20px 0px; 
		list-style-type: none; 
		list-style-image: none;
		float: right;
		font-size: 12px;
		li {
			display: inline-block;
		}
		a {
			margin: 0 0.5em; 
			color: white; 
			text-decoration: none;
			&:hover {
				text-decoration:underline;
			}	
		}
	}


	/* Footer */
	footer {
		padding: 30px 0px;
	}
	.school-footer {
		width: 50%;
		float: left;
		text-align: left;
		padding: 0px;
	}
	.wvu-footer {
		width: 50%;
		float: left;
		padding: 0px;
		.wvuFooterSites {
			float: right;
			text-align: right;
			li {
				a {
					padding: 10px 0 0 0;
					margin-left: 1em;
				}
			}
		}
		.wvuFooterSocial {
			float: right;
		}
	}

	/* State */
	.mobile {
		display: none;
	}
	.tablet {
		display: block;
	}
}

/*********************************************************************
	1024px and up
**********************************************************************/

@media screen and (min-width: 1024px) {
	/* Header */
	.wvu-header {
		.wvu-masthead__logo--w-signature {
		    background: url("wvulogo.png") no-repeat left top 1.2em / 300px auto transparent;
		    padding: 0px 0px 20px 54px;
		    width: 60%;
		}
		.wvu-masthead-title {
			padding-right: 100px;
		}
		.wvu-masthead__title--w-signature {
    		padding-top: 56px;
		}
		.wvu-header-mobile-list {
		    width: 40%;
		    padding: 36px 0px 10px;
		    text-align: right;
		}
	}
	.desktop {
		display: block; 
	}
	.wvu-header-logo {
	    width: 50%;
	    text-align: left;
	}
	.wvu-header-mobile-list {
	    width: 50%;
	    padding: 36px 0px 10px;
	    text-align: right;
	}
	.masthead-btn-container{
		float: right;
	}


	/* Footer */
	.disclaimer {
		white-space: nowrap;
	}
}

/*********************************************************************
	Print
**********************************************************************/
@media print {
}	
