<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
  <span class="brand-logo">
    <%= image_tag("flying-wv.jpg", alt: "Gold Flying WV logo", id: "wvu_flying_wv") %>
  </span>
  <span id="application_name"><%= t('hyrax.product_name') %></span>
</a>