$blue: #002855;
$gold: #EAAA00;
$gray-text: #ccc; 

.library_credit_line {
  width:100%;
  float:left;
  background: darken($blue, 10%);
  padding: 10px;
  font-size:10px;
  height:35px;

  .builtBy {
    color: $gray-text;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    width:16%;
    min-width:250px;
    float:right;
    text-align:right;
  }

  .built, .by { font-weight: 300; }
  .wvu { color: $gold; }
  .libs { color: #fff; margin-left:-4px; }
}