/*********************************************************************
    480px or less
**********************************************************************/
html, body, form, nav, ul, div {
	display: block;
	  margin: 0;
	  padding: 0;
	  text-align: center;
	  font-family: "Helvetica Neue", "Helvetica","Roboto", Arial, sans-serif;
  }
  .hyrax-header {
	  background: url("collectionbg5.jpg") center center no-repeat;
	  background-size: cover;
	  margin-bottom: 40px;
	  .hyrax-header-title {
		  text-align: center;
		  display: block;
		  float: left;
		  width: 100%;
		  font-size: 24px;
		  a {
			  color: #fff;
			  text-shadow: 1px 4px 10px rgba(0,0,0,0.5);
			  font-weight: 600;
		  }
	  }
	  .navbar-right {
		  margin-right: 0;
		  float: left;
		  width: 100%;
		  a {
			  color: #fff;
			  &:hover {
				  color: $primary-blue;
			  }
		  }
	  }
  }
  #content {
	  text-align: left;
	  .button {
		  display: inline-block;
		  padding: 10px 15px;
		  border: 1px solid #4B3D2A;
		  background: #FFF none repeat scroll 0% 0%;
		  font-size: 1.25em;
		  border-radius: 5px;
		  color: $accent-blue2;
		  float: left;
		  margin: 20px 0 40px 0;
	  }
	  #documents {
		  text-align: left;
		  .document {
			  .document-wrap {
				  .documentHeader {
					  margin: 0 5%;
					  h5 {
						  padding: 0;
					  }
					  .index-document-functions {
						  display: none;
					  }
				  }
				  .bookmark {
					  float: left;
					  width: 90%;
					  margin: 0 5% 5%;
					  .index-document-functions {
						  padding: 10px 0;
						  border-top: 1px solid $gray;	
						  margin: 0;
						  .bookmark_toggle {
							  .checkbox {
								  text-align: left;
							  }
						  }
					  }
				  }
				  dl {
					  margin: 0 5% 5%;
					  dt {
						  font-weight: bold;
					  }
					  dd {
						  margin-left: 0px;
					  }
				  }
				  .document-image {
					  img {
						  width: 90%;
						  height: auto;
						  max-width: 1000px;
						  margin: 5%;
					  }
				  }
			  }
		  }
	  }
	  .document-image {
		  img {
			  width: 100%;
			  height: auto;
			  max-width: 1000px;
		  }
	  }
  }
  .sticky-header {
	  background: #edecec;
	  position: fixed;
	  bottom: 0;
	  left: 0;
	  z-index: 3;
	  width:100%;
	  box-sizing: content-box;
	  /* border-top: 2px solid #d3d3d3; 
	  box-shadow: 0px 0 100px rgba(0,0,0,0.4); 
	  box-shadow: 0px 0 100px rgba(0,0,0,0.75); */
	  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.5);
	  .sticky-header-nav {
		  ul {
			  transition: all 0.2s ease;
			  list-style-type: none;
			  li {
				  display: inline-block;
				  float: left;
				  margin: 0 40px 0 0;
				  a {
					  font-size: 18px;
					  padding: 4px 0 5px 0;
					  display: block;
					  color: #fff;
					  margin: 0px;
				  }
			  }
			  li:last-child {
				  margin-right: 0;
			  }			
		  }
	  }	
	  .sticky-header-search {
		  .search-query-form {
			  transition: all 0.2s ease;
			  max-width: 100%;
		  }
		  .navbar-form {
			  #search_field {
				  height: 35px;
				  max-width:100px;
			  }
			  .sr-only {
				  display: none;
			  }
			  .form-control { 
				  color:#333;
				  height:35px;
			  }
			  .input-group-addon {
				  padding:0; 
				  font-size: 14px;
				  font-weight: normal; 
				  line-height: 1; 
				  color: #333;
				  text-align: center; 
				  background-color: #eeeeee; 
				  border: 0; 
				  border-radius: 4px;
				  height:34px;
				  }
			  .input-group {
				  height: 35px;
				  .input-group-btn {
					  height: 35px;
					  .search-btn {
						  height:35px;
						  background: $primary-blue;
					  }
				  }
			  }
		  }
	  }
	  .sticky-header-filter {
		  .sticky-header-filter-sidebar {
			  transition: all 0.2s ease;
			  #facets {
				  padding-bottom: 20px;
				  .top-panel-heading {
					  display: none;
				  }
				  #facet-panel-collapse {
					  margin-bottom: 0;
					  .panel {
						  .panel-collapse {
							  .panel-body {
								  .facet-values {
									  li {
										  line-height: 150%;
										  .facet_select {
											  height: auto;
											  margin: 0;
										  }
										  .facet-label {
											  .remove {
												  display: inline-block;
											  }
										  }
									  }
								  }
							  }
						  }
						  .panel-heading {
							  h5 {
								  a {
									  height: auto;
									  margin: 0;
									  display: inline-block;
								  }
							  }
						  }
					  }
				  }
			  }
		  }
	  }
	  .sticky-header a {
		  width: 100%;
		  height: 100%;
		  margin: 0px;
		  padding: 0px;
		  display: block;
	  }
	  img {
		  width: auto;
		  height: 100%;
		  max-width: 320px;
	  }
	  .tabBar {
		  width: 25%;
		  float: left;
		  height: 55px;
		  a {
			  display: block;
			  height: 35px;
			  margin: 10px 0px;
		  }
	  }
  }
  .wrap {
	  width: 95%;
	  margin: 0 auto; 
  }
  
  /* Toggles */
  
  .tabbarToggle {
	  position: absolute;
	  bottom: 55px;
	  background: #337AB7;
	  width: 100%;
	  margin: 0;
	  left: 0;
	  padding: 5%;
	  margin-left: 0;
	  border-top: 2px solid lighten( #337AB7, 15% );
	  height: auto;
	  overflow: hidden;
	  display: inline-block;
  }
  .tabbarToggle2 {
	  bottom: 55px;
	  position: fixed;
	  background: #337AB7;
	  width: 100%;
	  margin: 0;
	  left: 0;
	  padding: 5%;
	  margin-left: 0;
	  overflow-y: scroll;
	  display: inline-block;
	  border-top: 2px solid lighten( #337AB7, 15% );
  }
  .tabbarToggleSearch {
	  height: auto;
	  padding: 5%;
  }
  .tbwrap {
	  width: 100%;
	  margin: 0px auto;
	  display: block;
	  height: auto;
  }
  .tabbarBlue {
	  background: #337AB7;
  }
  #menu-toggle2, #search-toggle2 {
  }
  .hiding {
	  position:absolute;
	  left:-10000px;
	  top:auto;
	  width:1px;
	  height:1px;
	  overflow: hidden;
  }
  .destroy {
	  display: none; /* Only used for mobile/n on-accessibility issues */
  }
  #main-container {
	  .row {
		  #sidebar {
			  display: none;
		  }
		  #content {
			  .wrap {
				  text-align: left;
				  p {
					  line-height: 150%;
					  font-size: 1em;
					  a {
						  text-decoration: none;
						  border-bottom: 1px solid #337AB7;
						  &:hover {
							  border-bottom: 1px solid #23527C;
						  }
					  }
				  }
			  }
			  .shareThis {
				  display: block;
				  float: left;
				  width: 100%;
			  }
			  div[id*='doc_wvulibraries'] {
				  padding-bottom: 40px;
				  .document-image {
					  width: 100%;
					  margin-right: 0;
					  margin-bottom: 40px;
					  float: left;
					  img {
						  width: 100%;
						  height: auto;
					  }
				  }
				  .document-image:nth-child(2) {
					  margin-right: 0;
				  }
				  h1 {
					  text-align: left;
				  }
				  .dl-horizontal {
					  dt, dd {
						  text-align: left;
					  }
				  }
			  }
		  }
	  }
  }
  
  
  /*********************************************************************
	  768px to 1024px
  **********************************************************************/
  @media screen and (min-width: 768px) {
	  #main-container {
		  .row {
			  #sidebar {
				  display: block;
			  }
			  #content {
				  .wrap {
				  }
				  .shareThis {
					  display: inline-block;
					  float: left;
					  width: auto;
				  }
				  div[id*='doc_wvulibraries'] {
					  .document-image {
						  width: 49%;
						  margin-right: 2%;
					  }
					  .document-image:nth-child(2) {
						  margin-right: 0;
					  }
				  }
			  }
		  }
	  }
	  .tabbarBlue {
		  background: none;
	  }
	  .tbwrap {
		  width: 90%;
	  }
	  .collection-header {
		  margin-bottom: 0;
		  .collection-header-title {
			  display: inline-block;
			  float: left;
			  margin-left: 60px;
			  width: auto;
			  padding: 40px 0;
			  font-size: 36px;
		  }
		  .navbar-right {
			  float: right;
			  width: auto;
			  padding-top: 60px;
		  }
	  }
	  .sticky-header {
		  height: 35px;
		  position: relative;
		  bottom: 0;
		  left: 0;
		  z-index: 3;
		  border-top: none;
		  border-bottom: 1px solid #d3d3d3;
		  box-shadow: none;
		  padding: 10px 0;
		  .tabBar {
			  width: 50%;
			  a {
				  margin: 0;
			  }
		  }
		  .sticky-header-top {
			  display: none;
		  }
		  .sticky-header-filter {
			  display: none;
		  }
		  .sticky-header-nav {
			  background: none;
			  .tabbarToggle {
				  padding: 0;
			  }
			  ul {
				  list-style-type: none;
				  margin-left: 60px;
				  background: none;
				  position: relative;
				  border-top: none;
				  bottom: 0;
				  li {
					  display: inline-block;
					  float: left;
					  margin: 0 40px 0 0;
					  a {
						  font-size: 18px;
						  padding: 4px 0 5px 0;
						  display: block;
						  color: #337AB7;
					  }
				  }
				  li:last-child {
					  margin-right: 0;
				  }
			  }
			  #menu-toggle {
				  display: none;
			  }
		  }
		  .sticky-header-search {
			  .search-query-form {
				  background: none;
				  position: relative;
				  border-top: none;
				  bottom: 0;
				  max-width: 640px;
				  float:right;
				  margin-top:0;
			  }			
			  #search-toggle {
				  display: none;
			  }
			  .navbar-form {
				  display: block;
				  height: 35px;
				  padding: 0;
			  }
		  }
	  }
  
	  div#document { 
		  div { text-align: left; } 
	  }
  
  }
  
  /*********************************************************************
	  1024px and up
  **********************************************************************/
  @media screen and (min-width: 1024px) {
  }
  
  
  