<footer id="footer" role="contentinfo">
    <div class="wrap">
        <div class="school-footer">
            <p><a href="https://lib.wvu.edu" class="footerTitle">WVU <strong>Libraries</strong></a><br>
                West Virginia University<br>
                1549 University Ave. | P.O. Box 6069<br>
                Morgantown, WV 26506-6069<br>
                Phone: <a href="tel:13042934040">1-304-293-4040</a><br>
                Fax: 1-304-293-6638<br><br>
            <em>&copy; West Virginia University. <span class="disclaimer">West Virginia University is an Equal Opportunity/Affirmative Action Institution.</span></em></p>
        </div>
        <div class="wvu-footer">
            <ul class="wvuFooterSites" role="navigation">
                <nobr>
                    <li><a href="http://www.wvu.edu/SiteIndex/">A-Z Site Index</a></li>
                    <li><a href="http://www.wvu.edu/CampusMap/">Campus Map</a></li>
                    <li><a href="http://www.hr.wvu.edu/wvu_jobs">Jobs</a></li>
                    <li><a href="https://directory.wvu.edu/">Directory</a></li>
                </nobr>
                <nobr>
                    <li><a href="http://www.wvuf.org/">Give</a></li>
                    <li><a href="http://portal.wvu.edu/">Portal</a></li>
                    <li><a href="http://careerservices.wvu.edu/">MountaineerTRAK</a></li>
                </nobr>
                <nobr>
                    <li><a href="http://emergency.wvu.edu/alert/">WVU Alert</a></li>
                    <li><a href="http://wvutoday.wvu.edu">WVU Today</a></li>
                    <li><a href="http://mix.wvu.edu/">MIX</a></li>
                </nobr>
            </ul>
            <div style="clear:both;"></div>
            <ul class="wvuFooterSocial">
                <li>
                    <a class="socmedia" target="_blank" href="http://www.facebook.com/WVULibraries">
                        <%= image_tag("facebook.png", alt: "Facebook", title: "Facebook") %>
                    </a>
                </li>
                <li>
                    <a class="socmedia" href="http://instagram.com/wvulibraries" target="_blank">
                        <%= image_tag("instagram.png", alt: "Instagram", title: "Instagram") %>
                    </a>
                </li>
                <li>
                    <a class="socmedia" target="_blank" href="https://twitter.com/wvuLibraries">
                        <%= image_tag("twitter.png", alt: "Twitter", title: "Twitter") %>
                    </a>
                </li>
                <li>
                    <a class="socmedia" target="_blank" href="http://www.youtube.com/WVULibraries">
                        <%= image_tag("youtube.png", alt: "Youtube", title: "Youtube") %>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
