  <!-- Hyrax Header -->
  <div class="hyrax-header" role="banner" aria-label="hyrax banner">
    <div class="wrap">
        <h1 class="hyrax-header-title">
            <a href="/"><img src="/assets/collectionbg.jpg" title="WVU Digital Repository" alt="WVU Digital Repository"></a>
        </h1>
    </div>
  </div>