 <!-- WVU Header -->
        <section class="wvu-header mobile wvubottom" role="banner" aria-label="wvu header for all university web pages">
            <a href="#" id="wvutoggle" class="wvu-masthead__logo wvu-masthead__logo--w-signature">
                <%= image_tag("wvrhclogo.svg", alt: "WVU Libraries") %>
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up"></i>
            </a>
            <ul class="list">
                <li><a class="links" href="https://wvrhc.lib.wvu.edu/about/">About</a></li>
                <li><a class="links" href="https://wvrhc.lib.wvu.edu/collections/">Collections</a></li>
                <li><a class="links" href="https://wvrhc.lib.wvu.edu/databases/">Databases</a></li>
                <li><a class="links" href="https://wvrhc.lib.wvu.edu/research/">Research</a></li>
                <li><a class="links" href="https://wvrhc.lib.wvu.edu/visit/">Visit</a></li>
                <li><a class="links" class="links" href="https://wvrhc.lib.wvu.edu/">WVRHC Home</a></li>
            </ul>
        </section>
        <section class="wvu-header tablet wvubottom" role="banner" aria-label="wvu header for all university web pages">
            <div class="wrap">
                <a href="https://wvrhc.lib.wvu.edu" class="wvu-header-logo wvu-masthead__logo wvu-masthead__logo--w-signature">
                    <span class="wvu-masthead-title wvu-masthead__title--w-signature">West Virginia & Regional History Center</span>
                </a>
                <ul class="wvu-header-mobile-list">
                    <li><a href="https://wvrhc.lib.wvu.edu/about/">About</a></li>
                    <li><a href="https://wvrhc.lib.wvu.edu/collections/">Collections</a></li>
                    <li><a href="https://wvrhc.lib.wvu.edu/databases/">Databases</a></li>
                    <li><a href="https://wvrhc.lib.wvu.edu/research/">Research</a></li>
                    <li><a href="https://wvrhc.lib.wvu.edu/visit/">Visit</a></li>
                </ul>
            </div>
        </section>
